@import "tailwindcss";
@plugin "daisyui";
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";


.cinzel {
  font-family: "Cinzel", serif;
}

.inter {
  font-family: "Inter", sans-serif;
}


/* for navbar color theme */
#nav a.active {

  background-color: transparent;
  color: #EEFF25;
  font-weight: 800;

}


/* banner height */
.carousel * {
  max-height: 600px; 
}

.carousel {
  justify-content: center;
}

/* For screens between 1440px and 1920px */
@media (min-width: 1440px) and (max-width: 1919px) {
  .carousel * {
    max-height: 700px; /* Height for screens between 1440px and 1919px */
  }
}

/* For screens 1920px and larger */
@media (min-width: 1920px) {
  .carousel * {
    max-height: 870px; /* Height for 1920px and larger screens */
  }
}

/* loader */
.loader {
  width: 20px;
  height: 12px;
  display: block;
  margin: auto;
  position: relative;
  border-radius: 4px;
  color: #FFF;
  background: currentColor;
  box-sizing: border-box;
  animation: animloader 0.6s 0.3s ease infinite alternate;
}
.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  width: 20px;
  height: 12px;
  background: currentColor;
  position: absolute;
  border-radius: 4px;
  top: 0;
  right: 110%;
  animation: animloader  0.6s ease infinite alternate;
}
.loader::after {
  left: 110%;
  right: auto;
  animation-delay: 0.6s;
}

@keyframes animloader {
  0% {
    width: 20px;
  }
  100% {
    width: 48px;
  }
}